/* Font Size */
.f12{
	font-size: 12px;
}

.f14 {
	font-size: 14px;
}

.f16 {
	font-size: 16px;
}

.w-105 {
	width: 105px;
}

.modal-open .select2-dropdown {
	z-index: 10060;
}

.modal-open .select2-close-mask {
	z-index: 10055;
}

table.dataTable td.dataTables_empty {
	text-align: center;
}

.categories-list li:hover {
  background: #f6f6f6;
  -webkit-transition-duration: .05s;
  transition-duration: .05s;
}

.categories-list li.active {
  background: #f6f6f6;
}

.categories-list li a {
  display: block;
  padding: 0px 12px;
  color: #495057;
  font-weight: 500;
}

.categories-list li p {
	display: block;
	padding: 0px 12px;
	font-weight: 500;
}

.p-075{
	padding: 0.75rem !important;
}

.bg-green{
  background-color: #edf6e1 !important;
}

.auth-full-bg .bg-overlay {
  background: url(../images/cashier.jpg);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  opacity: 1;
  background-color: #000;
}

.abu{
	color: #495057 !important;
}
